/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* Looks so much better... */
.field_label, label {
    vertical-align: middle;
}

/* ...except for this one */
#bug_status_bottom th.field_label {
    vertical-align: top;
}

.bz_section_spacer, #bz_restrict_group_visibility_help {
    display: none;
}

/* Hide unused rows */
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(6),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(7),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(8),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(10),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(12),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(13),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(15),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(16),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(17),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(18),
#bz_show_bug_column_1 > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(19)
{
    display: none;
}

input[type="checkbox"] {
    vertical-align: middle;
    padding: 0px;
}
